.jsskill-block{
    width: auto; height: auto;
    margin: auto auto 2px auto;
    padding-bottom: 0px;
}
.jsskill-block h4{
    font-size:1.3em;
    font-family: "Courier New", Courier, monospace;
    margin:0px auto 6px auto;
}

.jsskill-field{
    width:100%;  height: auto;
    padding: 0; margin:0px;
}
.jsskill-text{
    width: 36%;
    float: left; text-align: left;
    margin:0px 1px 0px 0px;
    font-size: 1.2em; font-family: "Courier New", Courier, monospace;
}
.jsskill-skill{
    width: 62%; 
    padding:0px;  margin:0px 0px 0px 1px;
    float: right;
}
.jsskill-skill ul{
    border: none;
    margin-top: 0; margin-bottom: 0;
    padding-left: 0px;
}
.jsskill-skill-circle,.jsskill-skill-square{
     width:20px; height:20px;
     display: inline-block;
     border: 1px solid #152739;
     background: snow; text-align: center;
     font-family: "Courier New", Courier, monospace;
     margin-right:2px;
}
.jsskill-skill-circle{
    border-radius:20px;
    background: snow; text-align: center;
    margin-right:2px;
}
.circle, .square{ 
    background: #152739;
    -webkit-animation-name:boxmove; 
            animation-name:boxmove;
    -webkit-animation-duration: 6s; 
            animation-duration: 6s;
}
.square{background: #152739;}
.jsskill-clear{ clear: both;}

/**
 * Parts of annimation
 */
 @-webkit-keyframes boxmove{
    from {background-color: #152739;}
    to {background-color: #608FA2;}
 }
 @keyframes boxmove {
    from {background-color: #152739;}
    to {background-color: #608FA2;}
 }