main{
    width: 80%;
    height: auto;
    margin:auto;
    font-family: "Bell MT" serif;
}

.box-jsskills{
    box-sizing: border-box;
    width:640px;
    padding:5px;
}
h4{
    font-size:1.3em;
    font-family: "Courier New", Courier, monospace;
}

.jsskill-block{
    width: auto; height: auto;
    margin-bottom: auto auto 5px auto;
}

.jsskill-field{
    width:100%;  height: auto;
    padding: 0; margin:0px;
}
.jsskill-text{
    width: 36%;
    float: left; text-align: left;
    margin:0px 1px 0px 0px;
    font-size: 1.2em; font-family: "Courier New", Courier, monospace;
}
.jsskill-skill{
    width: 62%; 
    padding:0px;  margin:0px 0px 0px 1px;
    float: right;
}
.jsskill-skill ul{
    border: none;
    margin-top: 0; margin-bottom: 0;
    padding-left: 0px;
}
.jsskill-skill-circle{
    width:20px; height:20px;
    display: inline-block;
    border: 1px solid #152739;
    border-radius:20px;
    background: snow; text-align: center;
    margin-right:2px;
    font-family: "Courier New", Courier, monospace;
}
.jsskill-skill-square{
    width:20px; height:20px;
    display: inline-block;
    border: 1px solid #152739;
    background: snow; text-align: center;
    margin-right:2px;
    font-family: "Courier New", Courier, monospace;
}
.circle{ background: #152739;}
.square{background: #152739;}

.clear{ clear: both;}