 /**
  * Update
  */
.jsskill-block{
    width: 100%; height: 100%;
    /* border:1px solid brown; */
}
.jsskill-block h4{
    font-size:1.3em;
    font-family: "Courier New", Courier, monospace;
    margin:0px auto 6px auto;
}
.jsskill-field{
    width: 100%; height:30px;
    margin: auto; padding: 1px;
    box-sizing: border-box;
}
.jsskill-text{
    width: 34%;
    float: left;height:25px;
    font-size: 1.2em; font-family: "Courier New", Courier, monospace;
    /* border:  cyan 1px solid; */
    margin-left: 0px;
    line-height: 1.6;
}
.jsskill-skill{
    width:  62%; height: 25px;
    float: right;
    position: relative;
}
.jsskill-clear,.inner-clear, .clear{
    clear: both;
}

.keyframe{
    float:left;
    border:1px green solid;
    border-radius:20px; 
    text-align: center;
    width:1em; height: 20px;
    line-height: 1.4;
    padding-left: 2px;
    padding-right:2px;
    margin-left:0px;
    margin-top: 1px;
    margin-right:0px;
    color :green;
    position: absolute; 
    display: none;
    -webkit-transform: rotate(0deg); /* Safari */
        -ms-transform: rotate(0deg); /* IE 9 */
            transform: rotate(0deg);
}
.keyframe::before{
    content: "↓";
    -webkit-transform: rotate(95deg); /* Safari */
    -ms-transform: rotate(95deg); /* IE 9 */
        transform: rotate(95deg);
    position: absolute;
}

.cercle{ 
    text-align: center;
    -webkit-transform: rotate(180deg); /* Safari */
        -ms-transform: rotate(180deg); /* IE 9 */
            transform: rotate(180deg);
    color:white;
    background-color:green;
}

.show{display: block;}