main{
    width: 80%;
    height: auto;
    margin:auto;
    font-family: "Bell MT" serif;
}
.wrapper{
    margin-top: 100px;
}

.box-jsskills{
    box-sizing: border-box;
    width:460px;
    padding:0px;
}
