.jc-panel {
  width: 100%;
  height: 100%;
}
.jc-panel h4 {
  font-size: 1.3em;
  font-family: "Courier New", Courier, monospace;
  margin: 0px auto 6px auto;
}
.jc-contour {
  width: 100%;
  height: 30px;
  margin: auto;
  padding: 1px;
  box-sizing: border-box;
}
.jc-label {
  width: 34%;
  height: 25px;
  float: left;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
  margin-left: 0px;
  line-height: 1.6;
}
.jc-box {
  width: 62%;
  height: 25px;
  float: right;
  position: relative;
}
.jc-clear {
  clear: both;
}
.jc-frame {
  float: left;
  border: 1px #171B33 solid;
  border-radius: 20px;
  text-align: center;
  width: 1em;
  height: 20px;
  line-height: 1.4;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 0px;
  margin-top: 1px;
  margin-right: 0px;
  color: #171B33;
  position: absolute;
  display: none;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.jc-frame::before {
  content: "↓";
  -webkit-transform: rotate(95deg);
  -ms-transform: rotate(95deg);
  transform: rotate(95deg);
  position: absolute;
}
.jc-bar {
  width: 10%;
  height: 2px;
  background-color: #171B33;
  bottom: -18px;
  position: relative;
}
.jc-tooltip {
  float: right;
  position: relative;
  display: block;
  color: #171B33;
  margin-right: 24px;
  bottom: 1260%;
}
.jc-tooltiptext {
  width: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px #171B33 solid;
  position: absolute;
  padding: 1px;
  left: 50%;
  z-index: 1;
}
.jc-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #171B33 transparent transparent transparent;
}
.cercle {
  text-align: center;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: white;
  background-color: #171B33;
}
.show {
  display: block;
}
